@import '../../styles/Responsive.scss';
@import '../../styles/Variables.scss';

.home{
    min-height: 100vh;
    padding-block: 5rem;
    display: flex;
    justify-content: center;
    position: relative;

    @include Mobile{
        padding-top: 8rem;
    }
}