@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');
@import './styles/Responsive.scss';
@import './styles/Variables.scss';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'League Spartan', sans-serif;
  display: flex;
  flex-direction: column;
  background: $Light-Grayish-Cyan-Background;


  &::-webkit-scrollbar{
    display: none;
  }
}

input, button{
  border: none;
  outline: none;
  background: transparent;
}

button{
  cursor: pointer;
}